/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-------------------------*/
html {
  background: url("images/BTT-Background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#quizContainer {
	padding-top: 5px;
    padding-bottom: 20px;
    border-radius: 20px;
    height: 700px;
    width: 500px;
    margin: auto;
	margin-bottom: 30px;
	color: inherit;
	background-color: #eee;
	opacity: .8;
	margin-top: 17px;

	}

#logo{

	display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
	padding-top: 20px;
	padding-bottom: 0px;
	}



li{
font-family: 'Signika', sans-serif;
	 display: block;
margin-right: auto;
margin-left:auto;    
position: relative;
width:400px;
margin-bottom: 5px;
text-align:center;
font-weight:300;
}

#questioncontainer{
font-family: 'Signika', sans-serif;
	 display: block;
margin-right: auto;
margin-left:auto;    
position: relative;
width:350px;
margin-bottom: 5px;
text-align: center;
padding-bottom:10px;
font-weight:600;
line-height:20px;
}

#result, #submit, #answercontainer, #checkmyguess{
	 display: block;
margin-right: auto;
margin-left:auto;    
position: relative;
margin-bottom: 5px;
font-family: 'Signika', sans-serif;
font-weight:300;
}

#next, #restart{
	display: block;
margin-right: auto;
margin-left:auto;    
position: relative;
margin-bottom: 5px;
font-family: 'Signika', sans-serif;
font-size:16px;
font-weight:300;
border-color: #c6c6c6;
border-width: 1px;
background-color: #f7f7f7;
border-style: solid;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    white-space: normal;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 5px: 

}
#next:hover, #restart:hover {
	cursor: pointer;
}

#answerContainer, #result{
	width: 380px;
	text-align:center;
	line-height: 20px;

}

 #result {
	padding-top:10px;
	font-weight: 600;

}

#answerContainer{
	padding:10px;
}

#answersCorrect{
position: relative;
width: 200px;
height: 30px;
left:-400px;
top:-750px;
text-align: center;
margin-left: auto;
margin-right:auto;
font-family: 'Signika', sans-serif;
font-size:16px;
clear: both;
padding-top: 12px;
background-color: #eee;
opacity: .8;
border-radius: 10px;
font-weight:600;

}


#submit {
	display: block;
margin-right: auto;
margin-left:auto;    
position: relative;
font-family: 'Signika', sans-serif;
font-weight:300;
border-color: #c6c6c6;
 border-width: 1px;
    background-color: #f7f7f7;
    border-style: solid;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    white-space: normal;
    width:120px;
    height:20px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 5px;
    padding-bottom: 7px: 

}

#submit:hover{
	cursor: pointer;
}

.btn:hover{
	box-shadow: 0px 0px 1px 0px #888888;
	cursor: pointer;
}